body {
  width: 750px;
  overflow: hidden !important;
  font-family: "Red Hat Display", sans-serif !important;
}

/** Form */
#btm-form {
  display: none;
}

/** Table */
.btm-bgGreen {
  color: green !important;
}

.btm-bgRed {
  color: red !important;
}
